.toolbar-container{
  display: flex;
  justify-content: center;
}

.table-container{
  width: 100%;
}

mat-header-cell{
  justify-content: center;
}

mat-cell{
  justify-content: center;
}


.buttons-container{
  display: flex;
  justify-content: space-around;
}

.add-dealer-container{

}

.spacer{

}

.add-car-container{

}

table{
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: hsla(231, 48%, 48%, 0.5);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: hsla(231, 100%, 48%, 0.5);
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.inner-table {
  width: 100%;
}
