<!-- HEADER -->
<mat-toolbar color="primary" class="toolbar-container">
  <span>List of Car Dealers and Cars</span>
</mat-toolbar>

<div class="spacer">
  <p> </p>
</div>

<!-- POST BUTTONS -->
<div class="buttons-container">
  <div class="add-dealer-container">
    <button mat-raised-button color="primary" (click)="onAddDealer()">Add Dealer</button>
  </div>
  <div class="spacer">
    <p> </p>
  </div>
  <div class="add-car-container">
    <button mat-raised-button color="primary" (click)="onAddCar()">Add Car</button>
  </div>
</div>

<div class="spacer">
  <p> </p>
</div>


<!-- TABLE -->
<table mat-table [dataSource]="dataSource" multiTemplateDataRows>
  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</th>
    <td mat-cell *matCellDef="let element">{{element[column]}}</td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" *ngIf="element.carList?.length"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
          <table mat-table [dataSource]="element.carList">
            <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of secondaryColumns">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{innerColumn}} </th>
              <td mat-cell *matCellDef="let element"> {{element[innerColumn]}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="onEditCar(element)">Edit</button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="warn" (click)="onDelete(element)">Delete</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="secondaryColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: secondaryDisplayColumns;"></tr>
          </table>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
    [class.example-element-row]="element.carList?.length" [class.example-expanded-row]="expandedElement === element"
    (click)="toggleRow(element)"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>


<!-- TABLE CON BOTTONI SU DEALER-->
<!-- <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</th>
    <td mat-cell *matCellDef="let element">{{element[column]}}</td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary">Edit</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="warn">Delete</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" *ngIf="element.carList?.length"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
          <table mat-table [dataSource]="element.carList">
            <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of secondaryColumns">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{innerColumn}} </th>
              <td mat-cell *matCellDef="let element"> {{element[innerColumn]}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary">Edit</button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="warn">Delete</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="secondaryColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: secondaryDisplayColumns;"></tr>
          </table>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedDisplayColumns;"
    [class.example-element-row]="element.carList?.length" [class.example-expanded-row]="expandedElement === element"
    (click)="toggleRow(element)"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table> -->
