<mat-toolbar color="primary" class="toolbar-container">
  <span>List of Car Dealers and Cars</span>
</mat-toolbar>

<div class="spacer">
  <p> </p>
</div>

<div class="buttons-container">
  <div class="add-dealer-container">
    <button mat-raised-button color="primary">Add Dealer</button>
  </div>
  <div class="spacer">
    <p> </p>
  </div>
  <div class="add-car-container">
    <button mat-raised-button color="primary">Add Car</button>
  </div>
</div>

<div class="spacer">
  <p> </p>
</div>

<!-- MAIN TABLE DEFINITION -->
<mat-table [dataSource]="dealers" class="table-container">
  <!-- FIRST COLUMN DEFINITION -->
  <ng-container matColumnDef="dealerID">
    <mat-header-cell *matHeaderCellDef> Dealers ID </mat-header-cell>
    <mat-cell *matCellDef="let dealer"> {{ dealer.dealerID }} </mat-cell>
  </ng-container>

  <!-- SECOND COLUMN DEFINITION -->
  <ng-container matColumnDef="dealerName">
    <mat-header-cell *matHeaderCellDef> Dealer Name </mat-header-cell>
    <mat-cell *matCellDef="let dealer"> {{ dealer.dealerName}} </mat-cell>
  </ng-container>

  <!-- EXPAND COLUMN -->
  <ng-container matColumnDef="expand">
  </ng-container>

  <!-- COLUMNS ORDER DEFINITION -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
