.toolbar-container{
  display: flex;
  justify-content: center;
}

.table-container{
  width: 100%;
}

mat-header-cell{
  justify-content: center;
}

mat-cell{
  justify-content: center;
}


.buttons-container{
  display: flex;
  justify-content: space-around;
}

.add-dealer-container{

}

.spacer{

}

.add-car-container{

}
