<div class="post-car-dialog-container">
  <div class="title-container">
    <h1 mat-dialog-title class="dialog-title">Edit a Car</h1>
  </div>
  <div mat-dialog-content>
    <div class="form-container">
      <div class="input-container">
      <!-- <h2 mat-dialog-title>
          Add a car to:
      </h2> -->
        <!-- <mat-form-field>
          <mat-label>Dealer ID</mat-label>
          <input matInput [(ngModel)]="dealerID" placeholder="1" name="dealerEdit" required>
        </mat-form-field> -->
        <!-- <h2 mat-dialog-title>
          Edit:
        </h2> -->
        <mat-form-field>
          <mat-label>Car Plate</mat-label>
          <input matInput [(ngModel)]="carObj.carPlate" type="text" name="carPlateEdit" placeholder="AA000AA"  disabled required>
        </mat-form-field>
        <mat-form-field >
          <mat-label>Model</mat-label>
          <input matInput [(ngModel)]="carObj.model" placeholder="Ferrari" name="brandEdit">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Max Speed</mat-label>
          <input matInput [(ngModel)]="carObj.maxSpeed" placeholder="350" name="maxSpeedEdit">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Displacement</mat-label>
          <input matInput [(ngModel)]="carObj.displacement" placeholder="cc" name="displacementEdit">
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="buttons-container" align="end">
      <span class="button-padding">
        <button mat-raised-button mat-dialog-close color="warn" (click)="onNo()">Go Back</button>
      </span>
      <span class="button-padding">
        <button mat-raised-button mat-dialog-close cdkFocusInitial color="primary" (click)="onEdit()">Edit</button>
      </span>
    </div>
  </div>
</div>
