.edit-dealer-dialog-container{
  padding: 20px;
}

.input-container{
  padding: 10px;
}

.title-container{
  text-align: center;
  padding: 5px;
}

.buttons-container{
  padding: 5px;
}

.button-padding{
  padding: 5px;
}

mat-form-field{
  padding: 10px;
}
