<div class="title">
  <h1>Aggiungi una macchina</h1>
</div>
<div class="form-container">
  <div class="input-container">
    <mat-form-field class="example-full-width">
      <mat-label>Car Plate</mat-label>
      <input matInput type="text" [(ngModel)]="carPlateInput" name="carPlateInput" placeholder="AA000AA">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Dealer ID</mat-label>
      <input matInput placeholder="1" [(ngModel)]="dealerInput" name="dealerInput">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Brand</mat-label>
      <input matInput placeholder="Ferrari" [(ngModel)]="brandInput" name="brandInput">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Max Speed</mat-label>
      <input matInput placeholder="350" [(ngModel)]="maxSpeedInput" name="maxSpeedInput">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Displacement</mat-label>
      <input matInput placeholder="cc" [(ngModel)]="displacementInput" name="displacementInput">
    </mat-form-field>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="onAdd()">Aggiungi</button>
  </div>
</div>
